.dashboard-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-content: flex-start;
    margin-left: 20vh;
  }
  

  .dashboard-content {
    transition: margin-left 0.5s ease;

  }

  .sidebar.collapsed ~ .dashboard-content {
    margin-left: -230px;
    transition: margin-left 0.9s ease;
  }