.contentbody {
    margin-left: 260px; /* Menyesuaikan dengan sidebar */
    padding: 20px;
}

.contentbody h1 {
    text-align: left;
    color: black;
    margin-bottom: 30px;
    margin-top: 50px;
    margin-left: 100px;
}

/* Container utama */
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, #568fe9, #351c3d);
    width: 100%;
    border-radius: 50px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-top: -20px;
    margin-left: 100px;
    grid-template-columns: repeat(4, 1fr); /* Default 4 kolom */

}

.box-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Default: 4 kolom */
    gap: 20px;
    width: 100%;
    justify-content: flex-start;
    padding: 20px;
}

.square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 200px;
    height: 150px;
    background-color: rgb(125, 153, 247);
    border-radius: 25px;
    font-weight: bold;
    color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    text-align: center;
}

.square h2 {
    color: rgb(248, 248, 248); 
    font-size: 18px;
    margin-bottom: 10px;
}

.square p {
    font-size: 40px;
    margin: 0;
}

/* Container chart */
.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(57, 56, 153);
    border-radius: 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 800px;
    height: auto;
    padding: 20px;
    margin-top: 30px;
}
@media (max-width: 1400px) {
    .content-container {
        grid-template-columns: repeat(4, 1fr); /* 2 kolom di layar kecil */
        background-color: #ffffff;
        width: 100%;

    }
}

@media (max-width: 1024px) {
    .content-container {
        grid-template-columns: repeat(3, 1fr); /* 2 kolom di layar kecil */
        width: 100%;
        background-color: #ffffff;
    }
}

@media (max-width: 768px) {
    .content-container {
        grid-template-columns: repeat(2, 1fr); /* 2 kolom di layar kecil */
        width: 100%;
        background-color: #ffffff;
    }
}

@media (max-width: 480px) {
    .content-container {
        grid-template-columns: repeat(1, 1fr); /* 1 kolom di layar HP */
        background-color: #ffffff;
        width: 100%;
    }
}
